.header_main_container,
.header_button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0.5rem;
}

.site_name {
    font-size: 2rem;
}

.site_slogan {
    font-size: 1rem;
}

.searchbar {
    max-width: 40%;
    min-width: 20%;
    align-self: center;
}